html, body {
  background-color: #263238; }

.settings-card {
  background-color: #fff;
  padding: 20px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px; }
  .settings-card .action-buttons {
    float: right; }

.select {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
  background-color: #fff;
  border-radius: 5px;
  width: 100%;
  padding: 7px; }
  .select p {
    text-align: center;
    margin: 0; }
  .select .options-container {
    max-height: 200px;
    overflow-y: scroll;
    overflow-x: hidden; }
    .select .options-container .option pre {
      background-color: transparent;
      border: 0;
      margin: 0; }
    .select .options-container .option:hover {
      background-color: #323232; }
      .select .options-container .option:hover pre {
        color: white; }

.modal-overlay {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 100000000000;
  width: 100%;
  height: 100%;
  background-color: rgba(50, 50, 50, 0.8); }
  .modal-overlay .modal {
    width: 300px;
    height: 300px;
    background-color: #fff;
    display: block;
    border-radius: 5px;
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    padding: 20px;
    text-align: center; }
    .modal-overlay .modal #input .btn {
      margin-top: 20px; }

.header {
  color: white; }
  .header h1 {
    font-size: 72px; }
  .header h3 {
    margin-top: -5px;
    color: gainsboro; }

.settings {
  margin: 47px 0;
  float: right; }

.feedback-container .feedback {
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  color: black;
  margin: 10px 0; }
  .feedback-container .feedback .icon {
    font-size: 48px;
    text-align: center; }
  .feedback-container .feedback h1, .feedback-container .feedback h3 {
    margin: 0; }
  .feedback-container .feedback button {
    border: 1px solid black;
    background-color: transparent;
    color: black;
    width: 100%;
    padding: 10px;
    margin: 15px 0; }
    .feedback-container .feedback button:hover {
      background-color: black;
      color: white; }
  .feedback-container .feedback#success {
    background-color: #4a9918; }
  .feedback-container .feedback#warning {
    background-color: #FBC02D; }
  .feedback-container .feedback#error {
    background-color: red; }
  .feedback-container .feedback#success, .feedback-container .feedback#error, .feedback-container .feedback#warning {
    color: white; }
    .feedback-container .feedback#success button, .feedback-container .feedback#error button, .feedback-container .feedback#warning button {
      border: 1px solid white;
      color: white; }
      .feedback-container .feedback#success button:hover, .feedback-container .feedback#error button:hover, .feedback-container .feedback#warning button:hover {
        background-color: #fff;
        color: black; }
.feedback-container #clearFeedback {
  background-color: transparent;
  color: white;
  border: 1px solid white; }
  .feedback-container #clearFeedback:hover {
    background-color: #fff;
    color: black; }

.card h1 {
  color: white; }
.card .command-interaction {
  margin-top: 10px; }
  .card .command-interaction button {
    width: 100%; }
.card .command-line {
  font-family: Menlo,Monaco,Consolas,"Courier New",monospace; }
.card .terminal {
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  height: 500px;
  position: relative; }
  .card .terminal pre {
    background-color: #263238;
    color: white;
    height: 100%;
    margin: 0; }
  .card .terminal .working-directory {
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: #fff;
    padding: 5px;
    border-radius: 5px; }

/* support backdrop-filter */
@supports (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) {
  .modal-overlay {
    background-color: rgba(50, 50, 50, 0.8);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); } }

/*# sourceMappingURL=app.css.map */
